.progress-bar {
    padding-top:10px;
    background-color: rgba(0,0,0,0);
    text-align: center;
    float: none;
    width: 100%;
}

.progress {
    height: 42px;
    background-color: rgba(0,0,0,0);
    border: 1pt solid white;
    border-radius: 0pt;
}

.progress-bar-custom {
    background: rgba(255, 255, 255, 0.4);
}